<!DOCTYPE html>
<html ng-app="headlessDemo">
    <head>
        <title>Integrating AngularJS with NodeJS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="lib/bootstrap.min.js"></script>
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body >
        <div ng-controller="articleController">

          <nav  class="navbar navbar-default">
            <div class="header container">
              <div class="navbar-header">
                <i><a class="navbar-brand" href="#">Demo Headless</a></i>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Articles</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </nav>

          <div class="container">
            <div ng-controller="articleController as data">
              <div ng-show="data.articles.length <= 0">
                <span style="text-align:center;">Loading new data!!</span>
              </div>
              <div dir-paginate="item in data.articles|itemsPerPage:data.itemsPerPage" total-items="data.total_count" class="article-item">
                <h2>{{ item.title[0].value }}</h2>
                <p>
                <i>{{ item.nid[0].value }}</i>
                <img src="{{ item.field_image[0].url }}"/>
                {{ item.body[0].value | limitTo: 300}}
                </p>
              </div>
              <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true"
                on-page-change="data.getData(newPageNumber)" >
              </dir-pagination-controls>
            </div>
          </div>
          <!--Footer-->
          <footer class="page-footer">
              <!--Copyright-->
              <div class="footer-copyright container-fluid">
                  <div class="container">
                      © 2016 Copyright: <a href="https://www.MDBootstrap.com"> Headless Demo </a>
                  </div>
              </div>
              <!--/Copyright-->
          </footer>
          <!--/Footer-->

          <script src="lib/angular.js"></script>
          <script src="javascripts/app.js" type="text/javascript"></script>
          <script src="javascripts/dirPagination.js" type="text/javascript"></script>
    </body>
</html>
